body{
    margin: 0;
    background: #0f0f0f;
    font-weight: 400;
    color: #f1f4f7;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header{
    background: #0f0f0f;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    color: #9e2525;
    float: left;
}

.logo:hover{
    color: #f1f4f7;
}

nav{
    float: right;
    vertical-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f4f7;
    font-size: 14px;
}

nav a:hover{
    color: #9e2525;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #9e2525;
    position: absolute;
    top: 0%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}