body{
    margin: 0;
    background: #000000;
    font-weight: 400;
    color: aliceblue;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header{
    background: #000000;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 14px;
}