body{
    margin: 0;
    background: #0f0f0f;
    font-weight: 400;
    color: #f1f4f7;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header{
    background: #0f0f0f;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    color: #9e2525;
    float: left;
}

.logo:hover{
    color: #f1f4f7;
}

nav{
    float: right;
    vertical-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f1f4f7;
    font-size: 14px;
}

nav a:hover{
    color: #9e2525;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #9e2525;
    position: absolute;
    top: 0%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

footer{
    font-size: 70%;
    font-style: italic;
    text-align: center;
    clear: both;
    padding: 10px;
}

.my-skills{
    overflow: auto;
    position: relative;
    text-align: center;
}

.my-skills::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    
    display: block;
    background-image: url("img/codeBG.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.section-title-skills{
    position: relative;
    color: bisque;
}

.section-title-skills::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
}

.skill{
    max-width: 500px;
    margin: 0 auto;
}

.lang-list, .database-list, .devtool-list{
    text-align: center;
    padding-left: 0px;
}

.lang-list-item, .database-list-item, .devtool-list-item{
    list-style: none;
    padding: 5px;
}

/*@media (min-width: 1000px){*/
    .skills{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .skill + .skill{
        margin-left: 2em;
    }
